@import 'styles/colors';
@import 'styles/fontfaces';

.popover-tools {
  padding: 2px 5px;
  background: $blue3;
  display: flex;
  justify-content: space-between;
  letter-spacing: .5px;
  text-transform: uppercase;

  .tool-button {
    svg {
      height: 1em;
      width: 1em;
      margin-right: 5px;
    }
  }
}

.page-infobox {
  display: grid;
  align-items: normal;
  padding: 10px 15px;

  grid-template-columns: auto 5px 25px;
  grid-template-rows: auto 5px 1.2em;
  grid-template-areas:
    "title . icon"
    ". . icon"
    "url . icon";

  font-size: .8rem;
  background: $light-gray5;

  .favicon {
    grid-area: icon;
    width: 25px;
    height: 25px;
  }

  h3 {
    grid-area: title;
    margin: 0;

    font: {
      family: $typeface-text;
      weight: 400;
    }
  }

  .pill.url {
    grid-area: url;
    overflow: hidden;

    .path {
      display: none;
    }
  }
}

.popoverlay {
  width: 250px;
  position: fixed;
  right: 20px;
  top: 20px;

  ul.np--concepts-list {
    padding: 0 8px;
    font-weight: 400;
  }
}

// Popover card styles
.popoverlay .page-action {
  border-radius: 8px;
  overflow: hidden;
  padding: 0;
  margin: 0;

  // Resets for correct child elements layout.
  position: relative;
  z-index: 10;
  box-shadow: 0 5px 10px -2px rgba(0,0,0,0.30);

  .actions {
    h3 {
      font: {
        family: 'Barlow Medium';
        weight: 300;
        size: 1em;
      }
      text-transform: uppercase;
      letter-spacing: .5px;
      color: $gray1;
      padding: 5px 15px;
      margin: 0;
    }
  }
}

// Popover Elements
.concept-popover {
  $height: 250px;

  width: 220px;
  max-height: $height;

  .bp3-popover-content {
    padding: 0;
  }

  ul.bp3-menu {
    max-height: $height;
    overflow: auto;
    padding: 5px 10px;
  }
}
