@import 'styles/mixins';
@import 'styles/colors';
@import '~bulma/sass/utilities/_all.sass';
@import '~bulma/sass/grid/_all.sass';

:root {
  --slidesMargin: 20px;
  --slideCornerRadius: 6px;
}

@mixin bg-cover($image, $position: center) {
  background: {
    image: $image;
    size: cover;
    position: $position;
  }
}

@mixin tilted-div($order) {
  z-index: $order;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: inherit;
    bottom: 0;
    left: 0;
    transform-origin: left bottom;
    transform: skewY(2deg);
    z-index: -1;
  }
}

body {
  background: $ink1;

  header {
    z-index: 10;
    width: 100%;
    position: absolute;
    display: block;
    // background: transparent;

    // #navbar {
    //   margin-top: 5px;

    //   .bp3-navbar {
    //     @include bg-vibrant-tint($ink1, .2, 8px);
    //     border-radius: 5px;
    //     padding: 0 5px;
    //     height: auto;
    //   }

    //   .bp3-navbar-group {
    //     height: 40px;
    //   }
    // }
  }

  main {
    padding: 0;
  }
}

.presentation {
  color: $light-gray4;
  font-size: 1.2rem;

  @media(max-width: 512px) {
    font-size: 1rem;
    --slidesMargin: 10px;
  }

  h1 {
    margin: 1em 0;
    font-size: 1.5em;
    font-weight: 600;
  }
  h2 {
    margin: .5em 0;
    font-size: 1em;
    font-weight: 600;
  }

  section {
    margin: {
      top: var(--slidesMargin);
      bottom: var(--slidesMargin);
    }

    &.slide {
      padding: 20px 10%;
      margin: 0;
      position: relative;

      @media(max-width: 512px) {
        padding: 10px 12px;
      }
    }
  }
}

section.slide {
  $bg-blurb: url('/media/textures/dotatlas-basemap.png');
  $bg-texture: url('/media/textures/sunset-skies.png');

  position: relative;
  z-index: 1;


  &.blurb {
    @include bg-cover($bg-blurb, center);
    color: $ink1;
    min-height: 100vh;

    display: flex;
    flex-flow: column;

    & > .tile:first-of-type {
      flex: 1;
    }

    .opening-content {
      @media(max-width: 769px) {
        margin-top: 60px;
      }

      & > div {
        display: flex;
      }

      h1 {
        margin: 0 0 1em 0;
      }
    }

    .toc-container {
      flex: 0;
    }

    .logo {
      margin: 6px 20px 1em 0;
      border-radius: 5px;
    }
  }

  &.toc {
    background: $white;
  }

  &.whatis {
    background: #E3F2FD;
    color: $ink1;

    @include tilted-div(8);

    img.ext-toolbar {
      max-width: 100%;
    }
  }

  &.organise {
    color: $ink1;
    background: $white;
    @include tilted-div(7);
  }
  &.explore {
    color: $ink1;
    background: #E0F2F1;

    padding-top: 50px;

    @include tilted-div(6);
  }
  &.share {
    color: $ink1;
    background: #BBDEFB;
    @include tilted-div(5);
  }

  &.resources-demo {
    background: #7986CB;
    // Reset the padding here.
    padding: 50px 0;
    overflow: hidden;
    display: flex;
    // Set a minimum height here.
    min-height: 350px;
    height: auto;
    transition: .2s all;
  }

  &.callout {
  }

  &.close-off {
    background: #134551;
    color: $white;

    ul.misc-features {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;

      list-style: none;
      margin: 0;
      padding: 0;

      li {
        padding: 10px;
        margin: 5px;
        width: 180px;
        border-radius: 6px;
        display: block;
        text-align: center;

        @media(max-width: 512px) {
          width: 120px;
          padding: 8px;
        }

        img {
          width: 80px;
          display: block;
          margin: 0 auto 10px auto;
        }

        &.privacy {
          @include bg-vibrant-tint(#314D91, .2);
        }
        &.i18n {
          @include bg-vibrant-tint(#DF6759, .2);
        }
        &.a11y{
          @include bg-vibrant-tint(#59B668, .2);
        }
        &.open{
          @include bg-vibrant-tint(#E2A651, .2);
        }
      }
    }
  }

  &.partners {
    background: $white;
    color: $ink1;

    .content {
      width: 100%;
    }

    ul.partners {
      list-style: none;
      margin: 20px 0;
      padding: 0;

      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around;

      li {
        text-align: center;
      }

      &.big {
        li {
          width: 30%;
          margin-bottom: 30px;
        }

        img {
          max-width: 100%;
          max-height: 100px;
        }
      }
      &.small {
        li {
          width: 25%;
          margin-bottom: 10px;
        }
        img {
          max-width: 100px;
          width: 100%;
        }
      }
    }
  }

  img.screenshot {
    border-radius: 10px;
    // border: 5px solid $light-gray4;
    // border-bottom: 0;
    width: 100%;
    height: intrinsic;
  }
}

.toc-list {
  display: flex;
  align-self: center;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  overflow: auto;

  a.ref {
    @include bg-vibrant-tint($ink1, .5);

    flex: 1;
    color: $white;
    border-radius: 5px;
    padding: 10px;
    display: block;
    min-width: 100px;
    // min-height: 100px;
    margin: 5px;
    text-decoration: none;
    transition: .1s all;

    &:hover {
      @include bg-vibrant-tint($ink1, .2);
    }

    &:focus, &:active {
      @include bg-vibrant-tint($ink1, .1);
    }
  }

  span.index {
    font-size: 1em;
    font-weight: 600;
    display: block;
  }

  h2 {
    font-size: 1.2em;
    margin-top: 0;
  }

  p {
    font-size: .8em;
    margin: 0;
  }
}

.dotUnit {
  fill: $light-gray5;
  opacity: .2;
}

.fill-parent {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.align {
  &-middle {
    margin-top: auto;
    margin-bottom: auto;
  }

  &-bottom {
    margin-top: auto;
    margin-bottom: 0;
  }

  &-top {
    margin-top: 0;
    margin-bottom: auto;
  }

  &-right {
    margin-left: auto;
    margin-right: 0;
  }

  &-left {
    margin-left: 0;
    margin-right: auto;
  }

  &-all {
    margin: auto;
  }
}

.fit {
  &-box {
    width: 100%;
  }
  &-cover {
    max-width: 100%;
  }
}


#demo-cards {
  display: flex;
  flex-direction: row;
  pointer-events: none;

  .resource {
    flex-grow: 0;
    flex-shrink: 0;
    margin: auto 10px;
  }
}

.bp3-dialog {
  padding-bottom: 0;

  & > .prompt {
    padding: 20px;
  }

  .demo-controller {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
  }
}


.download-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.download-options {
  padding: 10px;
  max-width: 250px;
  color: #000;

  &.boxed {
    max-width: 500px;
    border-radius: 5px;
    margin: 0 -10px;
    background: $light-gray4;
    font-size: 1rem;
  }
}

.np-download-link {
  background: $blue3;
  color: #fff;
  display: inline-flex;


  a {
    color: #fff;
    display: inline-flex;
    flex: 1;
    flex-direction: row;
    align-items: center;

    &:hover, &:focus {
      text-decoration: none;
    }
  }

  border-radius: 4px;
  padding: 15px 20px;
  width: 220px;
  margin: 0 5px 0 0;

  &:last-of-type {
    margin: 0;
  }

  .browser-icon {
    width: 2em;
    height: 2em;
  }

  &.small {
    padding: 2px 5px;
    font-size: 10px;
    width: 100px;
    margin: 0 5px 0 0;
  }

  h3 {
    font-weight: 300;
    font-size: 1em;
    margin: 0 0 0 10px;

    strong {
      font-size: 1.5em;
      font-weight: 500;
      display: block;
    }
  }
}
