extends ../partials/base.pug
include ../partials/mixins.pug

append head
  title Welcome to iLearn

append scripts
  +dotatlas

append body
  #atlas
  main
    a#logo(href='https://cri-paris.org' target='_blank')
    section.hero
      div.brand
        h1 iLearn
        p Map your online learning

        #planets
      div#download-links

    section.info
      h2 #[small Our vision] Making the web a learner-friendly place.

      div.intro
        #people
        ul
          li.
            Internet is not structured as a #[strong learning space].
          li.
            It's not optimized to find pedagogical resource, neither to
            facilitate #[strong skill learning] processes.

      div.goals
        ul
          li.
            iLearn will #[strong index] and #[strong qualify] learning resources.
          li.
            It lets people analyse their own #[strong learning path], and help
            them search for #[strong pedagogical resources].
        #learning

    section#callout.bp3-dark

  footer

