{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": "auto"
      }
    ],
    "@babel/preset-react"
  ],
  "ignore": ["node_modules"],
  "plugins": [
    "@babel/plugin-proposal-export-default-from",
    "@babel/transform-runtime"
  ]
}
