{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": "auto",
        "shippedProposals": true
      }
    ],
    [
      "@babel/preset-react",
      {
        "useBuiltIns": true
      }
    ]
  ],
  "ignore": ["node_modules"],
  "plugins": [
    "@babel/plugin-proposal-export-default-from",
    "@babel/transform-runtime"
  ]
}
