{
  experimental_http3
}

v2.ilearn.cri-paris.org welearn.noop.pw {
  encode * {
    # Compress the responses to gzip.
    gzip
  }

  headers * +Access-Control-Allow-Origin *
  headers * +Access-Control-Allow-Methods GET,POST,PUT,DELETE,OPTIONS
  headers * +Access-Control-Allow-Headers DNT,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Range
  headers * +Access-Control-Expose-Headers Content-Length,Content-Range

  reverse_proxy /api {
    # Use the API server transparently. Note that this doesn't yet handle the
    # fact that we are NOT re-writing any requests!
    to 51.68.90.90:8000

    header_up Host {host}
    header_up X-Real-IP {remote}
    header_up X-Forwarded-For {remote}
    header_up X-Forwarded-Port {server_port}
    header_up X-Forwarded-Proto {scheme}
  }

  reverse_proxy /wiki {
    to en.wikipedia.org/w/api.php

    header_up Host {host}
    header_up X-Real-IP {remote}
    header_up X-Forwarded-For {remote}
    header_up X-Forwarded-Port {server_port}
    header_up X-Forwarded-Proto {scheme}
  }

  matcher staticfiles {
    path_regexp static ^/static/(.*)$
  }

  file_server match:staticfiles browse {
    # I don't know how to remove the prefix. So let's keep this until I figure it out.
    root /home/debian/srv/
  }

  file_server * browse {
    root /home/debian/srv/app/
  }
}
