addict==2.2.0
aiofiles==0.4.0
certifi==2018.10.15
chardet==3.0.4
cssselect==1.0.3
httptools==0.0.11
hues==0.2.2
idna==2.7
lxml==4.2.5
multidict==4.4.2
pydash==4.7.3
pyquery==1.4.0
PyYAML==3.13
requests==2.19.1
sanic==0.8.3
ujson==1.35
urllib3==1.23
uvloop==0.11.2
websockets==5.0.1
