$typeface-display: 'Barlow', '-apple-system', 'BlinkMacSystemFont', sans-serif;
$typeface-text: 'Barlow', '-apple-system', 'BlinkMacSystemFont', sans-serif;
$typeface-mono: 'IBM Plex Mono', monospace;

$typeface-code: 'IBM Plex Mono', 'Oxygen Mono', 'Source Code Pro', 'Menlo', monospace;
$typeface-header: 'IBM Plex Mono', 'Oxygen Mono', 'Source Code Pro', 'Menlo', monospace;
