@import 'styles/colors';
@import 'styles/mixins';
@import 'styles/fontfaces';

$transition-timing-overshoot: cubic-bezier(0.670, -0.540, 0.500, 1.650);

div.info-card {
  $background: $dark-gray1;
  $running-text-size: 1em;
  $line-height: $running-text-size + 0.3;
  $max-lines: 5;

  width: 270px;
  position: relative;
  z-index: 2;
  overflow: hidden;
  background: $background;
  color: $white;
  font-size: 14px;
  padding: 0;

  .content {
    position: relative;
    padding: {
      left: 15px;
      right: 15px;
      top: 15px;
      bottom: 0;
    }
    &:after {
      content: '';
      display: block;
      position: absolute;

      // Make it two-lines tall (summary line-height)
      // The text begins fading from first line, with half step at 60%, and
      // complete opaque at 100%.
      height: 2 * $line-height;
      background: linear-gradient(
        transparent 0,
        transparentize($background, .5) 60%,
        $background 100%);

      // Position it to the bottom of the box.
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
  .tools {
    background: $cobalt1;
    padding: 5px 0;
  }

  .thumbnail {
    position: absolute;
    width: 100%;
    min-block-size: 100%;
    top: 0;
    left: 0;

    filter: blur(5px);
    transform: scale(1.2) translate(0, 0);
    z-index: -2;
    transition: 1s filter ease;
  }
  .title {
    font: {
      size: 1.4em;
      weight: 400;
    }
    margin: 0 0 .5em 0;

    cite {
      font: {
        size: 12px;
        style: normal;
      }
      display: block;
    }
  }
  .summary {
    font: {
      size: $running-text-size;
      weight: 300;
    }
    line-height: $line-height;
    min-height: $line-height * 2;
    max-height: $line-height * $max-lines;
    overflow: hidden;
    margin: 0;
  }

  &.error {
    padding: 15px;
    .reason {
      & > * {
        margin-bottom: 0;
      }

      svg {
        fill: $light-gray1;
        width: 4rem;
        height: 4rem;
      }
    }
  }

  &.skeleton {
    // Skeleton Cards replace as placeholders while request is inflight.
    .skels {
      opacity: .5;
    }
    .skel {
      border-radius: 3px;
      color: transparent;
      margin-right: 6px;
      font-size: 80%;
      background: linear-gradient(-90deg, $white, transparent, $white);
      animation: skeleton-sweep 2s ease-in-out infinite alternate;
      background-size: 50 * 50px;
      pointer-events: none;
      user-select: none;
    }
  }

  &:hover {
    .thumbnail {
      // filter: blur(5px);
      // transform: scale(1.3) translate(0, -5px);
    }
  }

  &:active, &:focus {
    opacity: 1;
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba($dark-gray1, .4);
    z-index: -1;
  }
}

div.card {
  &.resource {
    $offset-sides: 5px;
    $box-padding: 10px + $offset-sides;
    $max-backdrop: 100px;

    width: 220px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    padding: 0;
    background: $light-gray5;
    border-radius: 8px;

    .backdrop {
      display: block;
      position: relative;
      height: auto;
      width: auto;
      width: fit-content;
      max-height: 100px;
      margin: 0;
      padding: 0;
      z-index: -2;

      &.hidden {
        display: none;
      }

      img {
        width: 100%;
        height: auto;
      }
    }

    .title {
      font: {
        family: $typeface-text;
        weight: 600;
        size: 1.1rem;
      }
      color: $ink1;
      margin: 0 0 10px 0;
      overflow-wrap: break-word;
    }

    .content {
      padding: $box-padding;
      background: linear-gradient(#fff0, transparentize($light-gray5, .8) 10px, $light-gray5 20px);

      .pills.resource-link {
        margin-top: 10px;
      }

      .concept.tag {
        position: relative;
        z-index: 10;
      }

      .action.delete {
        z-index: 10;
        position: absolute;
        top: 5px;
        right: 5px;

        button {
          background: $light-gray2;
          transition: .2s all;
          border-radius: 50%;
          transform: scale(1);
          opacity: 1;
        }
        &:hover {
          button {
            background: transparentize($light-gray5, .2);
            transform: scale(1.1);
          }
        }

        &:active {
          button {
            background: transparentize($light-gray5, .2);
            transform: scale(.9);
          }
        }
      }

      a.overlay-link {
        position: absolute;
        z-index: 0;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0;
      }
    }
  }
}

div.card-type {
  &[data-type='cri-projects'] {
    $box-size: 24px;
    background: {
      image: url('/media/logos/cri-projects.png');
      size: $box-size;
    }
    position: absolute;
    top: 5px;
    left: 5px;
    width: $box-size;
    height: $box-size;
  }
}

@keyframes skeleton-sweep {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 3000px 4000px;
  }
  100% {
    background-position: 0 0;
  }
}
