@import 'styles/colors';

body {
  background: $ink1;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;

  section.card {
    padding: 10px;
    border-radius: 5px;
    background: $light-gray5;
  }
}


.np-status-view {
  background: $light-gray1;
}
