@import 'styles/colors';
@import 'styles/fontfaces';
@import 'styles/variables';

:root {
  --faviconUrl: '@';
  --faviconSize: 16px;
  --faviconFallbackUrl: url('/icons/core/url-alt.png');
}

.pill {
  font-size: 1rem;

  &.url {
    overflow: hidden;
    word-break: keep-all;
    text-overflow: ellipsis;
    position: relative;

    .host {
      font-weight: 600;
    }

    // &:after {
    //   content: '';
    //   background: linear-gradient(90deg, #fff0 10px, $light-gray5);
    //   position: absolute;
    //   right: 0;
    //   top: 0;
    //   bottom: 0;
    //   width: 20px;
    // }
  }

  &.language {

  }

  &.datetime {
  }

  &.hotkey {
    kbd {
      font: {
        family: $typeface-mono;
        weight: 100;
      }
      color: $white;
      padding: 4px 4px 0 4px;
      border-radius: 4px;
      margin-right: 4px;
      background: #555D65;
      box-shadow: 0 4px 0 0 #222B30;
    }
  }

  &.favicon {
    img {
      width: 100%;
      height: 100%;
      visibility: hidden;
      border-radius: 2px;
      opacity: 0;
      transition: .5s opacity;
    }
    background: var(--faviconFallbackUrl) no-repeat center;
    background-size: cover;

    width: var(--faviconSize);
    height: var(--faviconSize);
    overflow: hidden;

    img.reveal {
      visibility: visible;
      opacity: 1;
      background: $white;
    }
  }
}

.pills {
  &.resource-link {
    display: flex;
    flex-flow: row;
    align-items: center;

    .favicon {
      margin-right: 10px;
    }

    .url {
      flex: 1;
    }
  }
}

.page-infobox {
  display: grid;
  align-items: normal;
  padding: 10px 15px;

  grid-template-columns: auto 5px 25px;
  grid-template-rows: auto 5px 1.2rem;
  grid-template-areas:
    "title . icon"
    ". . icon"
    "url . icon";

  font-size: .8rem;
  background: $light-gray5;

  .favicon {
    grid-area: icon;
    width: 25px;
    height: 25px;
  }

  h3 {
    grid-area: title;
    margin: 0;

    font: {
      family: $typeface-text;
      weight: 400;
    }
  }

  .pill.url {
    grid-area: url;
    overflow: hidden;

    .path {
      display: none;
    }
  }
}
