@import 'styles/fontfaces';
@import 'styles/variables';

:root {
  --faviconUrl: '@';
}

.pill {
  &.url {
    overflow: hidden;
    word-break: break-all;

    .host {
      font-weight: 600;
    }
  }

  &.language {
  }

  &.datetime {
  }

  &.hotkey {
    kbd {
      font: {
        family: $typeface-mono;
        weight: 100;
      }
      color: #fff;
      padding: 4px 4px 0 4px;
      border-radius: 4px;
      margin-right: 4px;
      background: #555D65;
      box-shadow: 0 4px 0 0 #222B30;
    }
  }

  &.favicon {
    background: {
      image: var(--faviconUrl);
      size: cover;
      repeat: no-repeat;
    }
    box-shadow: $pt-elevation-shadow-1;
    border-radius: 50%;
  }
}
