@import 'styles/variables';
@import 'styles/colors';
@import 'styles/mixins';

.widget {
  position: relative;

  &.sharing {
    .state img {
      height: 160px;
      border-radius: 5px;
    }
  }

  &.layers {
    @include bg-vibrant-tint($light-gray5, .2, 8px);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.8), 0 0 8px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    padding: 2px;

    h5 {
      padding: 2px 10px;
    }

    button {
      font-weight: 500;
      text-align: left;
      justify-content: left;
    }
  }

  &.hashtags {
    @include bg-vibrant-tint($light-gray5, .2, 8px);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.8), 0 0 8px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    padding: 5px 10px;

    .hashtag {
      margin: 2px;
    }
  }

  &.toolbar {
    display: flex;

    .bp3-button {
      margin-right: 4px;

      &:last-child {
        margin-right: 0;
      }
    }

  }
}
