extends ../partials/layout.pug

block append head
  title Help & Support | WeLearn

block append main
  section.article.help.intro
    h1 Need Help?

    p Browse through the resources here or drop us an email.

    p Jump to: #[a(href='#section-zh') Chinese 🇨🇳]

  section.article.help.toc
    article.videos
      video(controls width=480 poster='https://welearn.noop.pw/static/tutorials/tuto-01-intro--banner.jpg')
        source(type='video/mp4' src='https://welearn.noop.pw/static/tutorials/tuto-01-intro.mp4')

    article#section-en.tutorial.en
      include:md-transpile ./tutorial.en.md
    article#section-zh.tutorial.zh
      include:md-transpile ./tutorial.zh.md
