extends ../partials/layout.pug

append head
  title About Us | iLearn

block append main
  section.about
    h1 Sponsors
    p WeLearn is a project by CRI Paris, supported by Mairi de Paris.

    h1 Learn More
