.article.about {
  ul.sponsor-list {
    list-style: none;
    padding: 0;
    margin: 10px 0;

    display: flex;
    max-width: 100%;
    justify-content: left;
    flex-wrap: wrap;

    li {
      min-width: 180px;
      max-width: 270px;
      margin: 10px;
      padding: 5px 5px 5px 10px;
      flex-grow: 1;
    }

    a.sponsor {
      color: inherit;

      &:focus, &:hover {
        text-decoration: none;
      }
    }

    figure {
      margin: 0;
      display: flex;
      align-items: center;

      figcaption {
        margin-left: 10px;
        p {
          margin: 0;
        }
      }

      &.wide {
        flex-flow: column;

        figcaption {
          margin-top: 10px;
          margin-left: 0;
        }
      }
    }
  }
}

section.small-text {
  font-size: smaller;
  opacity: .8;

  &:hover {
    opacity: 1;
  }
}
