doctype html

html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')

    link(rel='stylesheet' href='./fonts.css')
    link(rel='stylesheet' href='./preview.scss')

    block stylesheets
    block head
  body(data-theme='light')
    block body
    div.atlas
      div#atlas-view
      span#bob *

    script(src='./dotatlas/dotatlas.js')
    script(src='./index.js')
