doctype html

html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')

    link(rel='dns-prefetch' href='//v2.ilearn.cri-paris.org')
    link(rel='dns-prefetch' href='//opt.ilearn.cri-paris.org')
    link(rel='dns-prefetch' href='//en.wikipedia.org')
    link(rel='dns-prefetch' href='//fr.wikipedia.org')
    link(rel='chrome-webstore-item' href='https://chrome.google.com/webstore/detail/aheppdfnfcfnojcaipdajboppllolgpo')

    block stylesheets
    block head

  block body
    block scripts
