doctype html

html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, minimum-scale=1, viewport-fit=cover')
    meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')

    link(rel='dns-prefetch' href='//v2.ilearn.cri-paris.org')
    link(rel='dns-prefetch' href='//opt.ilearn.cri-paris.org')
    link(rel='dns-prefetch' href='//en.wikipedia.org')
    link(rel='dns-prefetch' href='//fr.wikipedia.org')
    link(rel='chrome-webstore-item' href='https://chrome.google.com/webstore/detail/aheppdfnfcfnojcaipdajboppllolgpo')

    script(src='/i18n.js')

    block stylesheets
    block head

  block body
    block scripts
