block append head
  link(rel='apple-touch-icon' sizes='180x180' href='/icons/browsers/manifest-icon.512.png')
  link(rel='icon' type='image/png' sizes='32x32' href='/icons/browsers/favicon@2x.png')
  link(rel='icon' type='image/png' sizes='16x16' href='/icons/browsers/favicon.png')
  link(rel='manifest' href='/media/favicons/site.webmanifest')
  link(rel='mask-icon' href='/icons/browsers/safari-mask-icon.svg' color='#144782')
  meta(name='apple-mobile-web-app-title' content='WeLearn')
  meta(name='application-name' content='WeLearn Extension')
  meta(name='msapplication-TileColor' content='#2b5797')
  meta(name='theme-color' content='#11214d')
