block append head
  link(rel='apple-touch-icon' sizes='180x180' href='/icons/icon-active-128.png')
  link(rel='icon' type='image/png' sizes='32x32' href='/icons/icon-active-128.png')
  link(rel='icon' type='image/png' sizes='16x16' href='/icons/icon-active-128.png')
  link(rel='manifest' href='/site.webmanifest')
  link(rel='mask-icon' href='/safari-pinned-tab.svg' color='#144782')
  meta(name='apple-mobile-web-app-title' content='Boop App')
  meta(name='application-name' content='Boop App')
  meta(name='msapplication-TileColor' content='#2b5797')
  meta(name='theme-color' content='#11214d')
