extends ./base.pug
include ./mixins.pug
include ./favicons.pug
include ./opengraph-meta.pug

block append body
  body
    header
      div#navbar
        block navbar

    block root

    main
      block main

    footer
      block footer
      div.footer-content
        img(src='/icons/browsers/icon-round-v1.png' title='WeLearn' width=32 height=32)
        ul.inline
          li #[a(href='/pages/support.html') Help]
          li #[a(href='/pages/changelog.html') Changelog]
          li #[a(href='https://projects.cri-paris.org/projects/Jq2tzEMD/blogentries') Blog]
          li #[a(href='/pages/about-us.html') About Us]
          li #[a(href='/pages/privacy-policy.html') Privacy Policy]
