extends ./base.pug
include ./mixins.pug
include ./favicons.pug

block append body
  body
    header
      div#navbar
        block navbar

    block root

    main
      block main

    footer
      block footer
      div
        p WeLearn
        ul.inline
          li #[a(href='/pages/support.html') Help]
          li #[a(href='/pages/changelog.html') Changelog]
          li #[a(href='#') Blog]
          li #[a(href='/pages/about-us.html') About Us]
