extends ./base.pug
include ./mixins.pug
include ./favicons.pug

block append body
  body
    header
      div#navbar
        block navbar

    block root

    main
      block main

    footer
      block footer
