extends ./base.pug
include ./mixins.pug

block append body
  body
    header
      nav.bp3-dark
        block navbar
          +nav-link('Home', '/pages/options.html', 'arrow-left')
          +nav-link('Cartography', '/pages/options.html', 'map')
          +nav-link('Discover', '#', 'mountain')

          +nav-link('Account', '/pages/settings.html', 'wrench')

    main
      block main

    footer
      block footer
        a(href='#') Boop
