extends ./base.pug
include ./mixins.pug

append head
  script(src='/browser-polyfill.js')

block append body
  body
    header
      div#navbar
        block navbar

    main
      block main

    footer
      block footer
