mixin nav-link(name, href='#', icon='blank')
  a.nav-link.bp3-button.bp3-minimal(
    href=href
    title=name
    class='bp3-icon-' + icon
    role='button'
    tabindex=0
  )= name


mixin dotatlas
  script(src='/atlas/carrotsearch.dotatlas.js')
  script(src='/atlas/carrotsearch.dotatlas.effects.js')
