block append head
  meta(property='og:title' content='WeLearn')
  meta(property='og:description' content='Collaborative Learning with WeLearn')
  meta(property='og:image' content='/media/illustrations/poster-hero-stock-01.jpg')
  meta(property='og:type' content='website')
  meta(property='og:site_name' content='WeLearn')
