extends ../partials/layout.pug

append head
  title Discover | WeLearn
  script(src='/atlas/dotatlas.js')

block append root
  main
    div.container
      div#atlas
      div#overlay-concepts

  div#discover-view
