extends ../partials/layout.pug

append head
  title Discover | WeLearn

block prepend root
  div.visualisation-container#map-container
    div#d3-root
    div.map-widgets
      div#overlay-tools
    div#search-input
  div#map-collapse

block append main
  div#edit-ui
  div#search-ui
