extends ../partials/layout.pug

append head
  title Discover | WeLearn

block prepend root
  div.visualisation-container
    div#d3-root
    div.map-widgets
      div#overlay-tools
    div#search-input

block append main
  div#search-ui
