extends ../partials/layout.pug

append head
  title Discover | WeLearn

block prepend root
  div.discover-map
    div#atlas
    div#overlay-concepts
    div#overlay-tools
    div#progress-bar
    div#overlay-dpad
    div#d3-root

block append main
  div#discover-view
