@import "~@blueprintjs/core/src/common/react-transition";
@import "~@blueprintjs/core/src/common/variables";

.np-ext--card-transition {
  $width: 100px;
  $enter: (
    transform: (translateY(-50vh) rotate(-10deg), translateY(0) rotate(0deg))
  );
  $leave: (
    transform: (translateY(150vh) rotate(-20deg), translateY(0) rotate(0deg))
  );

  @include react-transition-phase(
    "np-ext--card",
    "enter",
    $enter,
    2000,
    $pt-transition-ease-bounce,
    $before: "&"
  );
  @include react-transition-phase(
    "np-ext--card",
    "exit",
    $leave,
    400,
    $before: "&"
  );

  top: 0;
  left: calc(50% - #{$width / 2});
  margin: 10vh 0;
  width: $width;
}
