body
  font-family: 'IBM Plex Mono'
  font-size: 12px

.ext--root
  position: fixed
  top: 100px
  right: 100px

.ext
  &.popover
    min-width: 230px
    max-width: 400px
    padding: 10px

.bp3-tag
  &.bp3-large
    line-height: normal
