
.ext--root
  font-family: 'IBM Plex Mono'
  font-size: 12px
  position: fixed
  top: 100px
  right: 100px

.ext
  &.popover
    width: 400px
    // min-width: 230px
    // max-width: 400px
    padding: 10px

.bp3-tag
  &.bp3-large
    line-height: normal

.bp3-portal
  z-index: 10000


.np-ext--card
  width: 300px
  top: 10px
  right: 30px

  transition: all 0.2s

// .bp3.overlay
//   z-index: 1000
// .bp3-overlay-content
//   z-index: 20000

