extends ../partials/layout.pug

append head
  title Options | iLearn

append scripts
  script(src='http://glacier.zen.noop.pw/srv/dotatlas-0.1.1/carrotsearch.dotatlas.js')
  script(src='http://glacier.zen.noop.pw/srv/dotatlas-0.1.1/carrotsearch.dotatlas.effects.js')

block append main
  div#cartography
