@import '~styles/index.sass'
@import '../style.sass'

.map-card-container
  position: relative
  min-height: 50vh
  display: flex
  margin-bottom: 20px

  > div
    display: flex
    flex: 1

.map-card
  position: relative
  flex: 1
  overflow: hidden
  padding: 0

  .header
    position: relative
    z-index: 10
    pointer-events: none
    padding: 10px 15px

    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center

    h3
      margin: 0
      text-transform: uppercase
      letter-spacing: 1px

    .tools
      pointer-events: all

  .contents
    position: relative
    z-index: 10
    pointer-events: none
    max-width: 20%
    padding: 15px

    li
      list-style: none

    > *
      pointer-events: all

  .mapbox
    position: absolute
    top: 0
    right: 0
    left: 0
    bottom: 0

    background: #8cc0e9

    canvas
      transition: 0.05s filter
      filter: blur(0px)
      // opacity: 1

    &.loading
      canvas
        // opacity: 0
        filter: blur(10px)
