extends ../partials/layout.pug

append head
  title Options | iLearn

append scripts
  script(src='https://noop-pub.s3.amazonaws.com/opt/carrotsearch.dotatlas.js')
  script(src='https://noop-pub.s3.amazonaws.com/opt/carrotsearch.dotatlas.effects.js')

block append main
  div#cartography

  div#iframes
