extends ../partials/layout.pug

append head
  title Changelog | WeLearn

block append main
  section.article.changelog
    article.log
      include:md-transpile ./changelog.md

  section.article.changelog.dev
    p Build: @<sha-checksum
    p Date: @<now
    p Tags: @<tags
