extends ../partials/layout.pug

append head
  title Changelog | iLearn

block append main
  article
    h3 iLearn Extension was just updated! Here's what's new:

    ul
      li Update Map Layout Changes
