extends ../partials/layout.pug

append head
  title Changelog | WeLearn

block append main
  section.article.changelog
    article.log
      include:md-transpile ./changelog.md

    article.dev
      h3 Build Information
      p.
        If you run into some error or bugs, please let us know!
        Please include the information below to help us with debugging.

      p Build: #[code=env.info_hash]
      p Date: #[code=env.info_buildtime]
      p Branch: #[code=env.info_branch]

