extends ../partials/layout.pug

append head
  title Changelog | iLearn

block append main
  section.article.changelog
    article.log
      include:markdown-it ./changelog.md

  section.article.changelog.dev
    p Build: @<sha-checksum
    p Date: @<now
    p Tags: @<tags
