@import './sui-sass/base';
@import 'styles/mixins';

.search-root {
  display: flex;
  flex-flow: column;

  @media(max-width: 700px) {
  }

  .top, .bottom, .results {
    padding: 10px 20px;
  }

  .tools.overlay {
    // position: absolute;
    // z-index: 42;
    // @include bg-vibrant-tint($light-gray5, .2, 8px);
    // display: flex;
    padding: 10px 20px;
    min-width: 220px;
    flex: 1;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }

  .tools > .unavailable {
    display: none;
  }

  .results {
    // make this container take at least some space.
    min-height: 100px;

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-flow: column;
    flex: 4;

    .result-grid {
      margin: 10px 0;
      width: 100%;
    }
  }

  .grid.resources > .resources {
    margin: auto
  }
}
