.dialog.edit-resource {
  width: 600px;
  max-width: 100%;
  padding-bottom: 0;

  .body {
    display: flex;
    flex-flow: row;

    @media(max-width: 500px) {
      flex-flow: column;
    }
  }

  h3.title {
    font-weight: 400;
  }

  .body {
    .preview-card, .editor {
      padding: 10px;
    }
  }

  .editor {
    flex: 1;

    .page-action {
      margin-bottom: 15px;

      .wiki-concept.suggest.root {
        padding: 0;
        margin: 5px 0;
      }

      .input-container {
        margin: 5px 0;
      }
    }

    .action-buttons {
      display: flex;
      justify-content: space-between;
    }
  }

}

.dialog.resource-details-view {
  width: 80%;
  overflow: hidden;

  .body {
    position: relative;

    .close-button {
      position: absolute;
      top: 0;
      right: 0;
      margin: 10px;
      z-index: 10;
    }

    .resource-item {
      box-shadow: none;
      cursor: auto;
    }

    .heading {
      margin-top: 16px;
      text-transform: uppercase;
    }

    .similar-resources {
      padding: 0 20px;
    }
  }
}

.resource-item {
  position: relative;
  z-index: 1;

  a, .button, .owner, .title, .bp3-button {
    // These are explicitly provided set to relative position because we want
    // them to be clickable "over" the underlay-link in the container.
    position: relative;
  }

  .underlay-link {
    position: absolute;
    content: '';
    background-color: transparent;
    opacity: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}
