ul.grid {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

li.grid.item {
  display: inline;
  padding: 0;
  margin: 4px;
}
