@import 'styles/colors';
@import 'styles/fontfaces';

.np--concepts-list {
  line-height: 34px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
  flex-wrap: wrap;
  width: 100%;

  li {
    display: inline-flex;
    max-width: 180px;
  }

  .np--concept-tag {
    margin-right: 4px;
    margin-bottom: 2px;

    .bp3-popover-target {
      display: inline;
    }
  }

  .concept-label {
    max-width: 160px;
    text-overflow: ellipsis;
  }
}

.bp3-popover.wiki-popover {
  .bp3-popover-arrow-fill {
    fill: $dark-gray1;
  }
}
