@import 'styles/colors';
@import 'styles/fontfaces';

.np--concepts-list {
  line-height: 34px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
  flex-wrap: wrap;
  width: 100%;

  li {
    display: inline-flex;
    max-width: 180px;
  }

  .np--concept-tag {
    margin-right: 4px;
    margin-bottom: 2px;

    .bp3-popover-target {
      display: inline;
    }
  }

  .concept-label {
    max-width: 160px;
    text-overflow: ellipsis;
  }
}

.bp3-popover.wiki-popover {
  .bp3-popover-arrow-fill {
    fill: $dark-gray1;
  }
}

.tag {
  $size: 16px;

  display: inline-flex;
  align-items: center;
  padding: 2px 5px;
  background: $light-gray2;
  border-radius: 5px;

  button.remove {
    width: $size;
    height: $size;
  }

  &.interactive {
    cursor: pointer;
    transition: background .2s ease;

    &:hover {
      background: $light-gray1;
    }

    &:focus, &:active {
      background: $gray1;
    }
  }
}
